<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppId" value="wxe618a1048a9a7919" />
  <add key="AppSecret" value="11168b1cd5b5141b5e9e252aaf714aa0" />
  <add key="WeChatApiAddr" value="https://api.weixin.qq.com" />
  <add key="RedisServerHost" value="127.0.0.1" />
  <add key="RedisServerPort" value="6379" />
  <add key="RedisPassword" value="123456" />
  <add key="ExpireDays" value="20" />
  <add key="AccessTokenExpireSeconds" value="7000"/>
  <add key="MessageDistinctSeconds" value="5"/>
  </appSettings>
</configuration>