<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="exceptionLog" 
            xsi:type="File" 
            fileName="${basedir}/logs/exception.log"
            archiveFileName="${basedir}/archives/exception.{#####}.log"
            archiveAboveSize="10240"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="exceptionLog" />
  </rules>
</nlog>